<div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
    <div class="row">
        <section id="mapa">
            <div class="map">
                <span> </span>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2730.873601336166!2d-52.79998584188885!3d-14.539791436695399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9372036d0aad3501%3A0xeb8af9452088bbd5!2sAuto+Escola+Tit%C3%A2nio!5e0!3m2!1spt-BR!2sbr!4v1555816035236!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        <!-- <div class="col-md-3 col-sm-6">
            <div class="widget">
                <h3>Company</h3>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">We are hiring</a></li>
                    <li><a href="#">Meet the team</a></li>
                    <li><a href="#">Copyright</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>    
        </div> -->

        <!-- <div class="col-md-3 col-sm-6">
            <div class="widget">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Refund policy</a></li>
                    <li><a href="#">Ticket system</a></li>
                    <li><a href="#">Billing system</a></li>
                </ul>
            </div>    
        </div> -->
        
        <!-- 
        <div class="col-md-3 col-sm-6">
            <div class="widget">
                <h3>Developers</h3>
                <ul>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">SEO Marketing</a></li>
                    <li><a href="#">Theme</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Email Marketing</a></li>
                    <li><a href="#">Plugin Development</a></li>
                    <li><a href="#">Article Writing</a></li>
                </ul>
            </div>    
        </div> -->

        <!-- <div class="col-md-3 col-sm-6">
            <div class="widget">
                <h3>Our Partners</h3>
                <ul>
                    <li><a href="#">Adipisicing Elit</a></li>
                    <li><a href="#">Eiusmod</a></li>
                    <li><a href="#">Tempor</a></li>
                    <li><a href="#">Veniam</a></li>
                    <li><a href="#">Exercitation</a></li>
                    <li><a href="#">Ullamco</a></li>
                    <li><a href="#">Laboris</a></li>
                </ul>
            </div>    
        </div> -->
    </div>
</div>