<div class="row">
    <div class="col-xs-12 col-sm-8 wow fadeInDown">
       <div class="tab-wrap"> 
        <div class="media">
            <div class="parrent pull-left">
                <ul class="nav nav-tabs nav-stacked">
                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Data das Aulas Teóricas</a></li>
                        <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Data Banca Examinadora</a></li>
                        <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Data Exame Psicotécnico</a></li>
                        <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Data do Resultado</a></li>
                        <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">Recado para Clientes</a></li>
                </ul>
            </div>

            <div class="parrent media-body">
                <div class="tab-content">
                    <div class="tab-pane fade" id="tab1">
                        <div class="media">
                           <div class="pull-left">
                            <img class="img-responsive" src="images/tab2.png">
                        </div>
                        <div class="media-body">
                            <h2>Escrevendo...</h2>
                            <p>Em breve....</p>
                     </div>
                 </div>
             </div>

             <div class="tab-pane fade active in" id="tab2">
                <div class="media">
                   <div class="pull-left">
                    <img class="img-responsive" src="images/tab1.png">
                </div>
                <div class="media-body">
                   <h2>Escrevendo...</h2>
                   <p>Em breve....</p>
             </div>
         </div>
     </div>

     <div class="tab-pane fade" id="tab3">
        <p>Em breve....</p>
    </div>
    
    <div class="tab-pane fade" id="tab4">
       <p>Em breve....</p>
    </div>

    <div class="tab-pane fade" id="tab5">
       <p>Em breve....</p>
    </div>
</div>   
</div> 
</div>      
</div>               
</div>

<div class="col-xs-12 col-sm-4 wow fadeInDown">
    <div class="testimonial">
        <h2>Recomendações</h2>
        <div class="media testimonial-inner">
            <div class="pull-left">
                <img class="img-responsive img-circle" src="images/testimonials2.png" heigth="50px" width="50px">
            </div>
            <div class="media-body">
                <p>Equipe competente e capacitada.</p>
                <span><strong>-Eudes Carlos/</strong>  Desenvolvedor / campinapolis.com</span>
            </div>
        </div>

        <div class="media testimonial-inner">
            <div class="pull-left">
                <img class="img-responsive img-circle" src="images/testimonials2.png" heigth="50px" width="50px">
            </div>
            <div class="media-body">
                <p>Quero agradecer meus amigos por mais uma conquista na minha vida, realizei meu grande sonho de ser Habilitado. Obrigado a equipe Titânio.</p>
                <span><strong>-Joel Braga/</strong> Ex-aluno da Auto Escola Titânio</span>
            </div>
        </div>

    </div>
</div>
</div>