<div class="row">
    <div class="col-sm-8">
        <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="pull-left">
                <i class="fa fa-phone"></i>
            </div>
            <div class="media-body">
               <h2>Contato</h2>
               <p>Rua: 31 de Março, nº 1400, Centro. Campinápolis-MT. Celular / WhatsApp: (66)9 8132-6600. Telefone: (66) 3437-1731.<br> Horário de Atendimento: das 08h00 às 11h30 e das 13h00 às 17h00.</p>
           </div>
       </div>
   </div>
</div>