<div class="center wow fadeInDown">
    <h2>Nossos Serviços</h2>
    <p class="lead">A  Autoescola Titânio, é um centro de formação de condutores credenciada junto ao Detran de MT. Atuate em Campinápolis, sua filosofia foi criada para realmente ensinar a dirigir e não somente  ser aprovado no exame prático.</p>
</div>

<div class="row">
    <div class="features">
        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
                <!-- <i class="fa fa-bullhorn"></i> -->
                <img src="images/1hab.png"></img>
                <h2>Habilitação</h2>
                <h3>Conquiste Sua CNH de Carro, Moto ou Ambos.</h3>
            </div>
        </div><!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
                <!-- <i class="fa fa-comments"></i> -->
                <img src="images/addcarro.png"></img>
                <h2>Adição de Categoria</h2>
                <h3>Para quem tem categoria "A" e queira adicionar a "B".</h3>
            </div>
        </div><!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
                <!-- <i class="fa fa-cloud-download"></i> -->
                <img src="images/mudcat.png"></img>
                <h2>Mudança de Categoria C, D ou E</h2>
                <h3>Fazemos mudança de sua CNH.</h3>
            </div>
        </div><!--/.col-md-4-->
        
        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
                <!-- <i class="fa fa-cogs"></i> -->
                <img src="images/cassada.png"></img>
                <h2>Reciclagem</h2>
                <h3>Infratores que perderam a carteira e tiveram que voltar à sala de aula para recuperá-la por meio dos cursos e provas de reciclagem.</h3>
            </div>
        </div><!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
                <!-- <i class="fa fa-heart"></i> -->
                <img src="images/renovar.png"></img>
                <h2>Renovação de CNH</h2>
                <h3>Vencida a sua carteira nacional de habilitação, você tem 30 dias para renová-la. Lembre-se que é necessário repetir o exame médico.</h3>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="feature-wrap">
                <img src="images/aulahab.png"></img>
                <h2>Aulas para Habilitados</h2>
                <h3>Aulas especiais – nelas trabalhamos a técnica do dirigir de forma adequada e segura, bem como técnicas de direção defensiva</h3>
            </div>
        </div>

    </div>
</div>