<div class="row">
  <div class="col-sm-6 wow fadeInDown">
    <div class="skill">
      <h2>Sobre-Nós</h2>
      <p>A  Autoescola Titânio, é um centro de formação de condutores credenciada junto ao Detran de MT. Atuando em Campinápolis, sua filosofia foi criada para realmente ensinar a dirigir e não somente  ser aprovado no exame prático. Pautada no compromisso diário que norteia nossas atividades na formação de condutores, a nossa constante busca é oferecer a melhor relação custo-benefício no mercado campinapolense através da adequada prestação de nossos serviços, da permanente renovação de nossos espaços físicos e do comprometimento de nossos colaboradores, sempre dedicados a garantir que todas as necessidades sejam atingidas e a satisfação seja garantida.
      </p>
    </div>
    <%= render partial: "inicio/middle/index" %>
  </div>

  <div class="col-sm-6 wow fadeInDown">
    <div class="accordion">
      <%= render partial: "inicio/middle/accordion" %>
    </div>
  </div>
</div>