<div class="center wow fadeInDown">
    <h2>Galeria</h2>
    <p class="lead">Principais enventos e atividades realizadas. <br> O que aconteceu de melhor aqui!</p>
</div>

<div class="row">
    <%= render partial: "inicio/galeria/index" %>
</div>