<div class="center wow fadeInDown">
     <h2>Para Nossos clientes.</h2>
        <p class="lead">Uma equipe preparada para recebe-los com carinho, <br> e capacita-los para obter a CNH com segurança.</p>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
            <div class="pull-left">
                <img class="img-responsive" src="images/services/services1.png">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Aula Teórica</h3>
                    <p>Uma semana de aula, com horário flexível para melhor lhe atender.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
            <div class="pull-left">
                <img class="img-responsive" src="images/services/services2.png">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Simulado de Prova</h3>
                    <p>Prepara o aluno para resolver questões, assim fixar o conteúdo.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
            <div class="pull-left">
                <img class="img-responsive" src="images/services/services3.png">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Aula Prática</h3>
                    <p>Com professor atencioso e dedicado para melhor aprendizagem dos nossos clientes.</p>
            </div>
        </div>
    </div>  

    <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
            <div class="pull-left">
                <img class="img-responsive" src="images/services/services4.png">
            </div>
            <div class="media-body">
                 <h3 class="media-heading">Simulador de direçao</h3>
                    <p>Contamos com um moderno simulador. Conforme determinação do DETRAN.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
            <div class="pull-left">
                <img class="img-responsive" src="images/services/services5.png">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Livro e apostilas</h3>
                    <p>Livro didático ilustrado, com todo conteúdo da prova escrita.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="media services-wrap wow fadeInDown">
            <div class="pull-left">
                <img class="img-responsive" src="images/services/services6.png">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Carro e Moto nova</h3>
                    <p>Veículos novos, equipados com ar-condicionado e direção hidráulica.</p>
            </div>
        </div>
    </div>                                                
</div>