<section id="feature" >
    <div class="container">
        <%= render partial: "inicio/feature" %>    
    </div>
</section>

<section id="recent-works">
    <div class="container">
        <%= render partial: "inicio/recent_works" %>
    </div>
</section>

<section id="services" class="service-item">
    <div class="container">
        <%= render partial: "inicio/services" %>        
    </div>
</section>

<section id="middle">
    <div class="container">
        <%= render partial: "inicio/middle" %>    
    </div>
</section>

<section id="content">
    <div class="container">
        <%= render partial: "inicio/content" %>
    </div>
</section>

<!-- <section id="partner"> -->
    <!-- <div class="container"> -->
        <%#= render partial: "inicio/partner" %>        
    <!-- </div> -->
<!-- </section> -->

<section id="conatcat-info">
    <div class="container">
        <%= render partial: "inicio/contact_info" %>    
    </div>    
</section>

<section id="bottom">
    <%= render partial: "inicio/bottom" %>
</section>
