<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="recent-work-wrap">
        <img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">
        <div class="overlay">
            <div class="recent-work-inner">
                <h3><a href="#">Para Nossos clientes</a> </h3>
                <p>Uma equipe preparada para recebe-los com carinho, <br> e capacita-los para obter a CNH com segurança</p>
                <a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Visualizar</a>
            </div> 
        </div>
    </div>
</div>   
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="recent-work-wrap">
        <img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">
        <div class="overlay">
            <div class="recent-work-inner">
                <h3><a href="#">Carros Novos</a></h3>
                <p>Nossa frota é composto por veículos novos.</p>
                <a class="preview" href="images/portfolio/recent/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Visualizar</a>
            </div> 
        </div>
    </div>
</div> 

<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="recent-work-wrap">
        <img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">
        <div class="overlay">
            <div class="recent-work-inner">
                <h3><a href="#">Aula prática </a></h3>
                <p>Veículos para práticar de várias categorias</p>
                <a class="preview" href="images/portfolio/recent/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Visualizar</a>
            </div> 
        </div>
    </div>
</div>   

<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="recent-work-wrap">
        <img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">
        <div class="overlay">
            <div class="recent-work-inner">
                <h3><a href="#">Designer</a></h3>
                <p>Banner e cartão de visita da Auto Escola Titânio</p>
                <a class="preview" href="images/portfolio/recent/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Visualizar</a>
            </div> 
        </div>
    </div>
</div>   

<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="recent-work-wrap">
        <img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">
        <div class="overlay">
            <div class="recent-work-inner">
                <h3><a href="#">Teste Drive</a></h3>
                <p>Aprenda a dirigir com aulas praticas com quem realmente sabe</p>
                <a class="preview" href="images/portfolio/recent/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Visualizar</a>
            </div> 
        </div>
    </div>
</div>   


<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="recent-work-wrap">
        <img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">
        <div class="overlay">
            <div class="recent-work-inner">
                <h3><a href="#">Escritório</a></h3>
                <p>Nosso escritório está localizado na Rua 31 de Março.</p>
                <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Visualizar</a>
            </div> 
        </div>
    </div>
</div> 

<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="recent-work-wrap">
        <img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">
        <div class="overlay">
            <div class="recent-work-inner">
                <h3><a href="#">Simulador</a></h3>
                <p>Simulador de direção</p>
                <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Visualizar</a>
            </div> 
        </div>
    </div>
</div>   
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="recent-work-wrap">
        <img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">
        <div class="overlay">
            <div class="recent-work-inner">
                <h3><a href="#">Teste Driver</a></h3>
                <p>Aprenda a dirigir com aulas praticas com quem realmente sabe</p>
                <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Visualizar</a>
            </div> 
        </div>
    </div>
</div>