<h2>Conheça os diferenciais da Auto Escola Titânio.</h2>
<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading active">
      <h3 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
          Moto e Carro novos.
          <i class="fa fa-angle-right pull-right"></i>
        </a>
      </h3>
    </div>

    <div id="collapseOne1" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="media accordion-inner">
          <div class="pull-left">
            <img class="img-responsive" src="images/accordion1.png">
          </div>
          <div class="media-body">
           <h4>Confira nossa frota!</h4>
           <p>Possuímos moto e carro novos que passaram por um padrão rigoroso de análise e são cuidadosamente revisados para que estejam sempre nas melhores condições de oferecer aos nossos alunos uma aula tranquila, segura e sem interrupções.</p>
         </div>
       </div>
     </div>
   </div>
 </div>

 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
        VÁRIOS TREINAMENTOS
        <i class="fa fa-angle-right pull-right"></i>
      </a>
    </h3>
  </div>
  <div id="collapseTwo1" class="panel-collapse collapse">
    <div class="panel-body">
      Diversos cursos e treinamentos disponíveis para você!
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
        CONTEÚDO VIRTUAL
        <i class="fa fa-angle-right pull-right"></i>
      </a>
    </h3>
  </div>
  <div id="collapseThree1" class="panel-collapse collapse">
    <div class="panel-body">
      Vários materiais de ensino disponíveis on-line.
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
        SALAS CLIMATIZADAS
        <i class="fa fa-angle-right pull-right"></i>
      </a>
    </h3>
  </div>
  <div id="collapseFour1" class="panel-collapse collapse">
    <div class="panel-body">
      Toda estrutura necessária para que o aluno aprenda.
    </div>
  </div>
</div>
</div>