<!-- <div class="progress-wrap">
  <h3>Graphic Design</h3>
  <div class="progress">
    <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
      <span class="bar-width">85%</span>
    </div>
  </div>
</div> -->

<!-- <div class="progress-wrap">
  <h3>HTML</h3>
  <div class="progress">
    <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
      <span class="bar-width">95%</span>
    </div>
  </div>
</div> -->

<!-- <div class="progress-wrap">
  <h3>CSS</h3>
  <div class="progress">
    <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
      <span class="bar-width">80%</span>
    </div>
  </div>
</div> -->

<!-- <div class="progress-wrap">
  <h3>Wordpress</h3>
  <div class="progress">
    <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
      <span class="bar-width">90%</span>
    </div>
  </div>
</div> -->