<section id="error" class="container text-center">
<h1>PAGINA EM CONSTRUÇÃO</h1>
<p>A PAGINA QUE VOCÊ PROCURA ESTÁ EM FASE DE DESENVOLVIMENTO E ESTARÁ DISPONIVEL EM BREVE.</p>
<a class="btn btn-primary" href="/">VOLTAR PARA A PAGINA INICIAL</a>
</section>