<div class="row">
    <div class="col-sm-6">
        &copy; 2019 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Campinapolis.com</a>
    </div>
    <div class="col-sm-6">
        <ul class="pull-right">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre Nós</a></li>
            <li><a href="#">Galeria</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
</div>