<div class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        <li data-target="#main-slider" data-slide-to="1"></li>
        <li data-target="#main-slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/bg1.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-sm-6">
                        <div class="carousel-content">
                            <a class="btn-slide animation animated-item-3" href="/#middle">Saiba Mais</a>
                            <h1 class="animation animated-item-1" style="display: inline-block;font-size:28px ">BEM VINDO A EUDES GUINCHO!</h1>
                            </br>
                            </br>
                            <h2 class="animation animated-item-2" style="display: inline-block;">
                            SERVIÇOS DE REBOQUE E GUINCHO 24 HORAS.</h2> 
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs animation animated-item-4">
                        <div class="slider-img">
                            <img src="images/slider/img1.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url(images/slider/bg2.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-sm-6">
                        <div class="carousel-content">
                            <h1 class="animation animated-item-1">Auto Socorro</h1>
                            <h2 class="animation animated-item-2">Serviços de Guincho 24 Horas de Segunda à Domingo</h2>
                            <!-- <a class="btn-slide animation animated-item-3" href="#">Saiba Mais</a> -->
                        </div>
                    </div>

                    <div class="col-sm-6 hidden-xs animation animated-item-4">
                        <div class="slider-img">
                            <img src="images/slider/img2.png" class="img-responsive">
                        </div>
                    </div>

                </div>
            </div>
        </div><!--/.item-->

        <!-- <div class="item" style="background-image: url(images/slider/bg3.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-sm-6">
                        <div class="carousel-content">
                            <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                            <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                            <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs animation animated-item-4">
                        <div class="slider-img">
                            <img src="images/slider/img3.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<a class="prev hidden-xs" href="#main-slider" data-slide="prev">
    <i class="fa fa-chevron-left"></i>
</a>
<a class="next hidden-xs" href="#main-slider" data-slide="next">
    <i class="fa fa-chevron-right"></i>
</a>