<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="images/logo.png" alt="logo"></a>
</div>

<div class="collapse navbar-collapse navbar-right">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Inicio</a></li>
        <li><a href="/sobre">Sobre Nós</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/galeria">Galeria</a></li>
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="blog-item.html">Blog Single</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="404.html">404</a></li>
                <li><a href="shortcodes.html">Shortcodes</a></li>
            </ul>
        </li> -->
        <!-- <li><a href="blog.html">Blog</a></li>  -->
        <li><a href="/contato">Contato</a></li>                        
    </ul>
</div>