<div class="container">
    <div class="row">
        <div class="col-sm-6 col-xs-4">
            <div class="top-number"><p><i class="fa fa-phone-square"></i>  (66) 98132-6600</p></div>
        </div>
        <div class="col-sm-6 col-xs-8">
            <div class="social">
                <ul class="social-share">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                    <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li>  -->
                    <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
                <!-- 
                <div class="search">
                    <form role="form">
                        <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        <i class="fa fa-search"></i>
                    </form>
                </div>
                -->
            </div>
        </div>
    </div>
</div>