<!DOCTYPE html>
<html lang="en">
<head>
    <%= render partial: "layouts/head" %>
</head>

<body class="homepage">
    <header id="header">
        <div class="top-bar">
            <%= render partial: "layouts/top_bar" %>
        </div>
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <%= render partial: "layouts/navbar" %>
            </div>
        </nav>
    </header>

    <section id="main-slider" class="no-margin">
        <%= render partial: "layouts/main_slider" %>
    </section>

    <%= yield %> 
    
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <%= render partial: "layouts/footer" %>    
        </div>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>